{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>    
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'Styles/login.css' %}">
    {% endblock %}
</head>
<body class="login-bg">

    <div class="login-container">
        <div class="login-card">
            <h2 class="login-title">Inicio de Sesión</h2>

            <form method="POST">
                {% csrf_token %}
                
                <!-- Mostrar errores generales -->
                {% if form.non_field_errors %}
                <div class="form-errors">
                    {% for error in form.non_field_errors %}
                    <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- Campo de usuario -->
                <div class="form-group">
                    <label for="Usuario" class="form-label">{{ form.username.label }}</label>
                    {{ form.username|add_class:"form-control" }}
                </div>

                <!-- Campo de contraseña -->
                <div class="form-group">
                    <label for="password" class="form-label">{{ form.password.label }}</label>
                    {{ form.password|add_class:"form-control" }}
                </div>

                <!-- Botón de Ingreso -->
                <div class="form-actions">
                    <button class="btn-primary" type="submit">Ingresar</button>
                </div>

                <!-- Enlaces para crear cuenta o recuperar contraseña -->
                <div class="form-links">
                    <a href="#" class="link">¿Olvidaste tu contraseña?</a>
                    <a href="{% url 'crear_usuario_cliente' %}" class="link">Crear Cuenta</a>
                </div>

                <!-- Botón de Salir -->
                <div class="form-actions">
                    <a href="/" class="btn-secondary">Salir</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>